# Temporary files
env
*.tmp
*.temp
*.swp
*.swo
*.bak
*.~*
*~
.DS_Store
Thumbs.db
ehthumbs.db
*.log
*.lock
*.pid
*.cache
*.aux
*.out
*.toc
*.idx
*.class
*.pyc
*.pyo
__pycache__/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.orig
*.rej
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.bin
*.obj
*.dll
*.exe
*.manifest
*.tmp.*